# Node.js backend
backend-app/node_modules/
backend-app/.env
backend-app/logs/

# Angular frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment files
**/.env

# Logs
*.log
logs/

# Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
