.login-card{
    max-width: 400px;
    height: auto;
    border: 1px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    justify-items: center;
    text-align: center;
    .mat-mdc-card-title{
        font-size: 24px;
    }
    .mat-mdc-card-header{
        justify-content: center;
    }
}
.full-width{
    width: 100%;
}
.mat-mdc-card-header{
    padding: 16px 16px 16px 16px;
}
.example-button-row{
    //float: right;
    button{
    width: 100%;
    }
    a{
        font-size: 12px;
    }
}
hr{
    margin-top: 20px;
}
